@model NewFlightViewModel


<h2>   </h2>
<h2>   </h2>

<div class="panel panel-primary" style="width:750px;margin:0px auto">


    <div class="panel-heading">New Flight</div>

    <div class="panel-body">


        @using (Html.BeginForm("Save", "Flight"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.AircraftId)
                @Html.DropDownListFor(m => m.AircraftId, new SelectList(Model.Aircrafts, "AircraftId", "Name"), "Select Aircraft", new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.AircraftId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AirportDepartId)
                @Html.DropDownListFor(m => m.AirportDepartId, new SelectList(Model.Airport, "AirportId", "Name"), "Select Airport Depart", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AirportDepartId)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AirportDestinationId)
                @Html.DropDownListFor(m => m.AirportDestinationId, new SelectList(Model.Airport, "AirportId", "Name"), "Select Airport Depart", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AirportDestinationId)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Distance)
                @Html.TextBoxFor(m => m.Distance, new { @class = "form-control", @readonly = "readonly" } )
                @Html.ValidationMessageFor(m => m.Distance)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FuelNeeded)
                @Html.TextBoxFor(m => m.FuelNeeded, new { @class = "form-control", @readonly = "readonly"  })
                @Html.ValidationMessageFor(m => m.FuelNeeded)
            </div>

            @Html.HiddenFor(m => m.FlightId)
            <button type="submit" class="btn btn-primary"> Save </button>
        }
    </div>
</div>

<script>
    jQuery(document).ready(function () {

        $("#AirportDepartId").change(function () {
            if ($(this).val()) {
                var AirportDepart = $(this).val()
            } else {
                var AirportDepart = 0
            }
            if ($('#AirportDestinationId').val()) {
                var AirportDestin = $('#AirportDestinationId').val()
            } else {
                var AirportDestin = 0
            } 
            if ($('#AircraftId').val()) {
                var aircraft = $('#AircraftId').val()
            } else {
                var aircraft = 0
            }
            $.ajax({  
                url: "calculer/" + AirportDepart + "/" + AirportDestin + "/" + aircraft,
                success: function (msg) {
                    //alert(msg)  
                    $('#Distance').val(msg['distance']);
                    $('#FuelNeeded').val(msg['consumption']);
                }
            });
        });

        $("#AirportDestinationId").change(function () {
            if ($(this).val()) {
                var AirportDestin = $(this).val()
            } else {
                var AirportDestin = 0
            }
            if ($('#AirportDepartId').val()) {
                var AirportDepart = $('#AirportDepartId').val()
            } else {
                var AirportDepart = 0
            }
            if ($('#AircraftId').val()) {
                var aircraft = $('#AircraftId').val()
            } else {
                var aircraft = 0
            }
            $.ajax({ 
                url: "calculer/" + AirportDepart + "/" + AirportDestin + "/" + aircraft,
                success: function (msg) {
                    //alert(msg)  
                    $('#Distance').val(msg['distance']);
                    $('#FuelNeeded').val(msg['consumption']);
                }
            });
        });

        $("#AircraftId").change(function () {
            if ($(this).val()) {
                var aircraft = $(this).val()
            } else {
                var aircraft = 0
            }
            if ($('#AirportDepartId').val()) {
                var AirportDepart = $('#AirportDepartId').val()
            } else {
                var AirportDepart = 0
            }
            if ($('#AirportDestinationId').val()) {
                var AirportDestin = $('#AirportDestinationId').val()
            } else {
                var AirportDestin = 0
            }
            $.ajax({ 
                url: "calculer/" + AirportDepart + "/" + AirportDestin + "/" + aircraft,
                success: function (msg) {
                    //console.log(msg);  
                    $('#Distance').val(msg['distance']);
                    $('#FuelNeeded').val(msg['consumption']);
                 }
            });
        });

});

</script>

