@model NewFlightViewModel


<h2>   </h2>
<h2>   </h2>

<div class="panel panel-primary" style="width:750px;margin:0px auto">


    <div class="panel-heading">New Flight</div>

    <div class="panel-body">


        @using (Html.BeginForm("Save", "Flight"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Flight.AircraftId)
                @Html.DropDownListFor(m => m.Flight.AircraftId, new SelectList(Model.Aircrafts, "AircraftId", "Name"), "Select Aircraft", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Flight.AirportDepartId)
                @Html.DropDownListFor(m => m.Flight.AirportDepartId, new SelectList(Model.Airport, "AirportId", "Name"), "Select Airport Depart", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Flight.AirportDestinationId)
                @Html.DropDownListFor(m => m.Flight.AirportDestinationId, new SelectList(Model.Airport, "AirportId", "Name"), "Select Airport Depart", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Flight.Distance)
                @Html.TextBoxFor(m => m.Flight.Distance, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Flight.FuelNeeded)
                @Html.TextBoxFor(m => m.Flight.FuelNeeded, new { @class = "form-control" })
            </div>

            @Html.HiddenFor(m => m.Flight.FlightId)
            <button type="submit" class="btn btn-primary"> Save </button>
        }
    </div>
</div>

<script>
    jQuery(document).ready(function () {

        $("#Flight_AirportDepartId").change(function () {
            if ($(this).val()) {
                var AirportDepart = $(this).val()
            } else {
                var AirportDepart = 0
            }
            if ($('#Flight_AirportDestinationId').val()) {
                var AirportDestin = $('#Flight_AirportDestinationId').val()
            } else {
                var AirportDestin = 0
            }
            if ($('#Flight_AircraftId').val()) {
                var aircraft = $('#Flight_AircraftId').val()
            } else {
                var aircraft = 0
            }
            $.ajax({  
                url: "calculer/" + AirportDepart + "/" + AirportDestin + "/" + aircraft,
                success: function (msg) {
                    //alert(msg)  
                    $('#Flight_Distance').val(msg['distance']);
                    $('#Flight_FuelNeeded').val(msg['consumption']);
                }
            });
        });

        $("#Flight_AirportDestinationId").change(function () {
            if ($(this).val()) {
                var AirportDestin = $(this).val()
            } else {
                var AirportDestin = 0
            }
            if ($('#Flight_AirportDepartId').val()) {
                var AirportDepart = $('#Flight_AirportDepartId').val()
            } else {
                var AirportDepart = 0
            }
            if ($('#Flight_AircraftId').val()) {
                var aircraft = $('#Flight_AircraftId').val()
            } else {
                var aircraft = 0
            }
            $.ajax({ 
                url: "calculer/" + AirportDepart + "/" + AirportDestin + "/" + aircraft,
                success: function (msg) {
                    //alert(msg)  
                    $('#Flight_Distance').val(msg['distance']);
                    $('#Flight_FuelNeeded').val(msg['consumption']);
                }
            });
        });

        $("#Flight_AircraftId").change(function () {
            if ($(this).val()) {
                var aircraft = $(this).val()
            } else {
                var aircraft = 0
            }
            if ($('#Flight_AirportDepartId').val()) {
                var AirportDepart = $('#Flight_AirportDepartId').val()
            } else {
                var AirportDepart = 0
            }
            if ($('#Flight_AirportDestinationId').val()) {
                var AirportDestin = $('#Flight_AirportDestinationId').val()
            } else {
                var AirportDestin = 0
            }
            $.ajax({ 
                url: "calculer/" + AirportDepart + "/" + AirportDestin + "/" + aircraft,
                success: function (msg) {
                    //console.log(msg);  
                    $('#Flight_Distance').val(msg['distance']);
                    $('#Flight_FuelNeeded').val(msg['consumption']);
                 }
            });
        });

});

</script>

