@model FlightsViewModel

<h2>List O Flights</h2>


@Html.ActionLink("Add Flight", "New", "Flight", null, new { @class = "btn btn-primary" })

<br />
<br />


<table id="Flights" class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> Flight ID </th>
            <th scope="col"> Aircraft </th>
            <th scope="col"> Airport Depart </th>
            <th scope="col"> Airport Destination </th>
            <th scope="col"> Fuel Needed </th>
            <th scope="col"> Distance </th>
            <th scope="col"> Edit </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.Flights)
        {
            <tr>
                <td class="row">
                    @item.Aircraft.Name
                </td>
                <td class="row">@item.AirportDepart.Name</td>
                <td class="row">@item.AirportDestination.Name</td>
                <td class="row">@item.FuelNeeded</td>
                <td class="row">@item.Distance</td>
                <td class="row">
                    @Html.ActionLink("Edit", "Edit", "Flight", new { Id = item.FlightId }, new { @class = "glyphicon glyphicon-edit" })
                </td>
            </tr>
        }*@
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $("#Flights").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Flight/GetList",
                "type": "Get",
                "datatype": "json",
                "dataSrc": ""
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "FlightId", "name": "FlightId", "autoWidth": false },
                { "data": "Aircraft.Name", "name": "Aircraft", "autoWidth": false },
                { "data": "AirportDepart.Name", "name": "Airport Depart", "autoWidth": false },
                { "data": "AirportDestination.Name", "name": "Airport Destination", "autoWidth": false },
                { "data": "FuelNeeded", "name": "Fuel Needed", "autoWidth": false },
                { "data": "Distance", "name": "Distance", "autoWidth": false },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Flight/Edit/' + full.FlightId + '">Edit</a>'; }
                },
            ]

        });
    });
</script> 