@model FlightsViewModel

<h2>List O Flights</h2>


@Html.ActionLink("Add Flight", "New", "Flight", null, new { @class = "btn btn-primary" })



<table id="Aircrafts" class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> Aircraft </th>
            <th scope="col"> Airport Depart </th>
            <th scope="col"> Airport Destination </th>
            <th scope="col"> Fuel Needed </th>
            <th scope="col"> Distance </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flights)
        {
        <tr>
            <td class="row">
                @item.Aircraft.Name
            </td>
            <td class="row">@item.AirportDepart.Name</td>
            <td class="row">@item.AirportDestination.Name</td>
            <td class="row">@item.FuelNeeded</td>
            <td class="row">@item.Distance</td>
            <td class="row"> 
                @Html.ActionLink( "Edit" , "Edit", "Flight", new { Id = item.FlightId}, new { @class = "glyphicon glyphicon-edit" })
            </td>
        </tr>
        }
    </tbody>
</table>