@model AircraftViewModel
@*<h2>Index</h2>

    @foreach (var item in Model.Aircrafts)
    {

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@item.Name" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@item.Name</h3>

                    <p>@item.FuelComsumption</p>
                </div>
                <div class="addToCart text-right">
                    <p class="button ">
                        <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@item.AircraftId">
                            Add to cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }*@


<h2>List of Aircraft</h2>


@Html.ActionLink("Add Aircraft", "New", "Aircraft", null, new { @class = "btn btn-primary" })

<br />
<br />
<table id="Aircrafts" class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> AircraftID </th>
            <th scope="col"> Aircraft </th>
            <th scope="col"> Fuel Comsumption </th>
            <th>Edit</th>
            @*<th>Delete</th>*@
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.Aircrafts)
        {
            <tr>
                <td class="row">
                    @Html.ActionLink(item.Name, "Edit", "Aircraft", new { Id = item.AircraftId }, null)
                </td>
                <td class="row">@item.FuelComsumption</td>
            </tr>
        }*@
    </tbody>
</table>
<ul></ul>

<script>
    $(document).ready(function () {
        $("#Aircrafts").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Aircraft/GetList",
                "type": "Get",
                "datatype": "json",
                "dataSrc": ""
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "AircraftId", "name": "AircraftId", "autoWidth": false },
                { "data": "Name", "name": "Name", "autoWidth": false },
                { "data": "FuelComsumption", "name": "FuelComsumption", "autoWidth": false },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Aircraft/Edit/' + full.AircraftId + '">Edit</a>'; }
                },
            ]

        });
    });
</script> 